#container {
	text-align: center;
}

table {
	display: inline-block;
	border: 1px solid black;
	line-height: 0;
	font-size: 0;
}
td {
	width: 60px;
	height: 60px;
	border: 1px solid #333;
}

input {
	font-size: 32px;
	text-align: center;
	cursor: default;
	border:0;
	width: 60px;
	height: 60px;
}

.cannotEdit {
	background-color: Lightgray;
}

/* make sub matrixes with borders */
tr:nth-child(3), 
tr:nth-child(6) {
	border-bottom: 3px solid black;
}
td:nth-child(3), 
td:nth-child(6) {
	border-right: 3px solid black;
}