body {
    font-family: Helvetica Neue, Helvetica, Arial;
}

.header {
    margin-top: 20px;
}

.header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

/**************/
/* TABLE MAIN */
/**************/
.container-fixed-main {
    margin: 0 auto;
    max-width: 550px;
}
table {
	display: inline-block;
    margin: 10px 0;
}
td {
    vertical-align: middle;
    border: 1px solid #333;
}
.table-main {
    border: 3px solid black;
    font-size: 22pt;
}
.table-main td {
	width: 60px;
	height: 60px;
}

/* make sub matrixes with borders */
.table-main tr:nth-child(3),
.table-main tr:nth-child(6) {
	border-bottom: 3px solid black;
}
.table-main td:nth-child(3),
.table-main td:nth-child(6) {
	border-right: 3px solid black;
}



/***************/
/* TABLE SMALL */
/***************/
.table-small-container {
    cursor: pointer;
    margin: 0 auto;
    max-width: 164px;
}

.table-small {
    border: 1px solid black;
    font-size: 8pt;
    -webkit-box-shadow: 0 0 0 0 #fff;
    box-shadow: 0 0 0 0 #fff;
    transition: box-shadow .1s linear;
}

.table-small td {
    width: 20px;
    height: 20px;
}

/* make sub matrixes with borders */
.table-small tr:nth-child(3),
.table-small tr:nth-child(6) {
    border-bottom: 2px solid black;
}
.table-small td:nth-child(3),
.table-small td:nth-child(6) {
    border-right: 2px solid black;
}

.glow-edge-blue:hover {
    -webkit-box-shadow: 0 0 20px 1px #1900FF;
    box-shadow: 0 0 20px 1px #1900FF;
}

/* INFO BAR */
.info-bar {
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    overflow: hidden;
}

.progress {
    margin: 0;
}

.progress, .progress-bar {
    height: 6px;
    line-height: 6px;
}

.show-progress.ng-enter, .show-progress.ng-leave {
    -webkit-transition: .3s ease-out opacity;
    transition: .3s ease-out opacity;;
}
.show-progress.ng-enter {
    opacity: 0;
}
.show-progress.ng-enter.ng-enter-active {
    opacity: 1;
}
.show-progress.ng-leave {
    opacity: 1;
}
.show-progress.ng-leave.ng-leave-active {
    opacity: 0;
}